@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: roboto;
}

.navigation {
  display: flex;
}

.logo {
  flex: 1;
}

.link-list-items {
  list-style-type: none;
  flex: 1;
}

li {
  display: inline;
}