@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
body {
  margin-top: auto;
  margin-right: 48px;
  margin-bottom: auto;
  margin-left: 48px;
}
*/

* {
  font-family: roboto;
}

a {
  color: #E5E7EB;
  text-decoration: none;
  }

a:hover {
  color: #E5E7EB;
}

a:visited {
  color: #E5E7EB;
}

.navigation {
  display: flex;

  background-color: #1F2937;
}

.logo {
  flex: 1;
  margin-left: 48px;

  color: #F9FAF8;
  font-size: 24px;
  font-weight: 950;
}

.link-list-items {
  flex: 1;
  margin-right: 48px;

  list-style-type: none;
}

li {
  display: inline;

  color: #E5E7EB;
  font-size: 18px;
}